[core]
    autocrlf = false
    safecrlf = true
    editor = vim
    excludesfile = ~/.gitignore_global
[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto
    decorate = short
[alias]
    ci = commit
    st = status
    di = diff --color-words
    in = !git fetch origin && git log ..FETCH_HEAD
    out = !git fetch origin && git log FETCH_HEAD..
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''            %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lag = !"git lg --all"
[mergetool "fugitive"]
    cmd = vim -f -c \"Gvdiff\" \"$MERGED\"
[merge]
    tool = fugitive
[user]
    name = Sergei Voronezhskii
	email = revan@yandex-team.ru
[filter "lfs"]
	process = git-lfs filter-process --skip
	smudge = git-lfs smudge --skip %f
	clean = git-lfs clean %f
