[core]
    autocrlf = false
    safecrlf = true
    editor = vim
    excludesfile = ~/.gitignore_global
[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto
    decorate = short
[alias]
    ci = commit
    st = status
    di = diff --color-words
    in = !git fetch origin && git log ..FETCH_HEAD
    out = !git fetch origin && git log FETCH_HEAD..
[mergetool "fugitive"]
    cmd = vim -f -c \"Gvdiff\" \"$MERGED\"
[merge]
    tool = fugitive
[user]
    name = Sergei Voronezhskii
	email = revan@yandex-team.ru
