ipython

requests
beautifulsoup4
Jinja2
anyjson
paramiko
junitxml
scrapy
scapy
ipaddr

wxPython
pyQT
pyGtk
pywin32

# Natural Language Toolkit
ntlk

scipy
sympy
numpy
matplotlib
scikit-learn
Tensorflow
pandas

twisted
sqlalchemy
pillow

python-glanceclient
python-keystoneclient
python-novaclient
python-cinderclient
python-neutronclient

# test-driven python interview
git#https://github.com/donnemartin/interactive-coding-challenges

pygame
pyglet
